.form {
  padding: 5px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  text-align: left;
}

.field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.buttonSubmit {
  width: max-content;
  align-self: center;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: #282c34;
  cursor: pointer;
}

.error {
  color: red;
}